<launch>    
    <!-- args namespacing  -->
    <arg name="robot_ns"              default="$(optenv ROBOT_NAME uas2)" />
    <arg name="vision_nm" default="vision_nodelet_manager_ext" doc="name of the nodelet manager" />
    <arg name="camera_tf_prefix" default="" />


    <group ns="$(arg robot_ns)">    
        <!-- launch nodelet manager -->
        <node pkg="nodelet" type="nodelet" name="$(arg vision_nm)" args="manager" output="screen"/>
        <!-- launch camera nodelet -->
        <include file="$(find spinnaker_sdk_camera_driver)/launch/acquisition.launch" >
            <arg name="manager" value="$(arg vision_nm)" />
            <arg name="external_manager" value="true" />
            <arg name="tf_prefix" value="$(arg camera_tf_prefix)" />
        </include>
        
        <!-- launch apriltag_ros nodelet -->
        <!-- include file="$(find apriltag_ros)/launch/continuous_detection_nodelet.launch" >
            <arg name="nodelet_manager_name" value="$(arg vision_nm)" />
        </include -->

        <!-- launch example_subscriber_nodelet -->
        <node pkg="nodelet" type="nodelet" name="subscriber_nodelet"
        args="load subscriber_nodelet_ns/subscriber_nodelet $(arg vision_nm)" />
    </group >
</launch>
