<launch>
  <arg name="vision_nm" default="vision_nodelet_manager_example" doc="name of the nodelet manager" />
  <arg name="camera_tf_prefix" default="" />

  <include file="$(find spinnaker_sdk_camera_driver)/launch/acquisition.launch" >
    <arg name="nodelet_manager_name" value="$(arg vision_nm)" />
    <arg name="tf_prefix" value="$(arg camera_tf_prefix)" />
  </include>
  
  <node pkg="nodelet" type="nodelet" name="subscriber_nodelet"
          args="load acquisition/subscriber_nodelet $(arg vision_nm)"  output="screen" />  
</launch>
